html, body {
    width: 100%;
    height: 100%;
}

#main-section {
  width: 600px;
  height: 100%;
  margin:0 auto;
}

.lemon {
  font-family: Lemon;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

div#pf-002 {
  font-size: 36px;
  line-height: 36.4px;
}

div.out-there {
  position:absolute;
  bottom:100px; right:100px;
  font-size: 24px;
  line-height: 26.4px;
}

div.big {
	position:absolute;
	top:45%;left:50%;
	margin-left:auto;
	margin-right:auto;
	font-size:96pt;
}

